In [6]:
import seaborn as sns
import pandas as pd

In [7]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)

In [8]:
df=sns.load_dataset('car_crashes')
df.head()

   total  speeding  alcohol  not_distracted  no_previous  ins_premium  ins_losses abbrev
0   18.8     7.332    5.640          18.048       15.040       784.55      145.08     AL
1   18.1     7.421    4.525          16.290       17.014      1053.48      133.93     AK
2   18.6     6.510    5.208          15.624       17.856       899.47      110.35     AZ
3   22.4     4.032    5.824          21.056       21.280       827.34      142.39     AR
4   12.0     4.200    3.360          10.920       10.680       878.41      165.63     CA

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total           51 non-null     float64
 1   speeding        51 non-null     float64
 2   alcohol         51 non-null     float64
 3   not_distracted  51 non-null     float64
 4   no_previous     51 non-null     float64
 5   ins_premium     51 non-null     float64
 6   ins_losses      51 non-null     float64
 7   abbrev          51 non-null     object
dtypes: float64(7), object(1)
memory usage: 3.3+ KB

1) Veri setinde numerci kolonların başına "NUM_" eklenecek

In [10]:
["NUM_"+ col.upper() if df[col].dtype!="object" else col.upper() for col in df.columns]

['NUM_TOTAL',
 'NUM_SPEEDING',
 'NUM_ALCOHOL',
 'NUM_NOT_DISTRACTED',
 'NUM_NO_PREVIOUS',
 'NUM_INS_PREMIUM',
 'NUM_INS_LOSSES',
 'ABBREV']

2. List Comprehension yapısı kullanarak car_crashes verisetinde isminde "no" barındırmayan değişkenlerşn isimlerinin sonuna "FLAG" yazınız

In [11]:
[col.upper()+"_FLAG" if "no" not in col else col.upper() for col in df.columns]

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

3. List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden FARKLI olan değişkenlerin isimlerini seçiniz ve yeni bir dataframe oluşturun

In [12]:
og_list = ["abbrev","no_previous"]

In [13]:
new_cols=[col for col in df.columns if col not in og_list]
new_df=df[new_cols]
new_df.head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63